@font-face {
    font-family: 'YanoneKaffeesatz';
    src: url('YanoneKaffeesatz.ttf') format('truetype');
}

body {
    font-family: "YanoneKaffeesatz";
    background-color: rgb(1, 61, 90);
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(252, 243, 227);
    border-radius: 5px;
    color: rgb(1, 61, 90);
    text-align: center;
    font-size: 20px;
}

#tasks {
    margin-bottom: 20px;
}

#taskInput {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 8px 15px;
    background-color: rgba(112, 140, 105, 0.5);
    color: rgb(1, 61, 90);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.taskItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.taskItem:last-child {
    border-bottom: none;
}

.taskItem .taskText {
    margin-right: 10px; /* Adiciona margem à direita */
}

.taskItem .taskText.completed {
    text-decoration: line-through;
}